<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="common-header">

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>j dental</title>
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />

    <!--bootstrap date-time picker-->
    <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

    <!--data table-->
    <link href="../../static/css/jquery.dataTable.min.css" rel="stylesheet" />
    <link href="../../static/css/dataTables.bootstrap.min.css" rel="stylesheet" />

    <link href="../../../css/index.css" rel="stylesheet" />
</head>
<body>
<!-- Navigation -->
<div th:fragment="navbar">
    <nav class="navigation">
    	<div class = "topnav">
	            <a th:href="@{/index}">Home</a>
	            <a th:href="@{/userMain}">My Profile</a>
	            <div class="topnav-right">
                    <span sec:authorize="!isAuthenticated()">
                        <a th:href="@{/signup}">Sign up</a>
                        <a th:href="@{/login}">Log in</a>
                    </span>
                    <span sec:authorize="isAuthenticated()">
                        <a th:href="@{/logout}">Logout</a>
                    </span>
		       </div>
    	</div>
	</nav>
</div>

<div th:fragment="body-bottom-scripts">
    <!-- jQuery -->
    <script src="../../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>

    <script src="../../static/js/jquery.easing.min.js"></script>

    <!--bootstrap date-time picker-->
    <script src="../../static/js/bootstrap-datetimepicker.min.js"></script>

    <!--bootbox-->
    <script src="../../static/js/bootbox.min.js"></script>

    <!--data table-->
    <script src="../../static/js/jquery.dataTables.min.js"></script>
    <script src="../../static/js/dataTables.bootstrap.min.js"></script>

    <!--main js-->
    <script src="../../static/js/main.js"></script>
    
    <!--main js-->
    <script src="../../static/js/booking.js"></script>
</div>

</body>
</html>